/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

body {
  background-image: linear-gradient(
  90deg,
  hsl(240deg 100% 71%) 0%,
  hsl(236deg 96% 73%) 10%,
  hsl(232deg 91% 75%) 20%,
  hsl(228deg 87% 76%) 30%,
  hsl(224deg 82% 78%) 40%,
  hsl(220deg 76% 80%) 50%,
  hsl(216deg 71% 82%) 60%,
  hsl(212deg 67% 84%) 70%,
  hsl(209deg 63% 86%) 80%,
  hsl(204deg 57% 88%) 90%,
  hsl(200deg 53% 90%) 100%
);
  font-family: "Press Start 2P", system-ui;
}

.container {
    height: 100vh;
    width: 85%;
    max-width: 1200px;
    border: 2px solid blue;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.main {
  display: flex;
  align-items: center;
  gap: 2rem;

  margin-bottom: 1rem;
}

.buttonBox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.chooseColor,
.chooseReset {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btn {
  font-size: 1.5rem;
  padding: 0.75em 1em;
}

.frame {
  padding: 1rem;
  background-color: white;
  border: 2px solid black;
}




.drawingPad {
    width: 500px;
    height: 500px;
    border: 2px solid rgb(255, 0, 0);

    background-color: white;

    display: flex;
    flex-wrap: wrap;
}

